# Dedicated IP for Nginx ingress controller
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: external-vip
  namespace: metallb-system
spec:
  addresses:
    - 10.10.3.10/32

---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: app-ips
  namespace: metallb-system
spec:
  addresses:
    - 10.10.3.6/32
    - 10.10.3.7/32
    - 10.10.3.8/32
    - 10.10.3.9/32
  autoAssign: false
