- name: Ensure gpg and sudo are installed
  ansible.builtin.apt:
    name:
      - gpg
      - sudo
      - wget
    state: latest

- name: Check if Zabbix release package is installed
  ansible.builtin.shell: dpkg -l zabbix-release | grep -q "^ii"
  register: zabbix_release_installed
  changed_when: false
  failed_when: false

- name: Set Zabbix repo distribution info
  ansible.builtin.set_fact:
    zabbix_repo_os: "{{ 'ubuntu' if ansible_facts['distribution'] == 'Ubuntu' else 'debian' }}"
    zabbix_repo_os_arch: >-
      {{
        ('ubuntu-arm64' if ansible_facts['distribution'] == 'Ubuntu' else 'debian-arm64')
        if ansible_facts['architecture'] == 'aarch64'
        else ('ubuntu' if ansible_facts['distribution'] == 'Ubuntu' else 'debian')
      }}
    zabbix_repo_os_version: >-
      {{
        ansible_facts['distribution_version'] if ansible_facts['distribution'] == 'Ubuntu'
        else ansible_facts['distribution_major_version']
      }}

- name: Download Zabbix release package
  ansible.builtin.get_url:
    url: "https://repo.zabbix.com/zabbix/{{ ZABBIX_VERSION }}/{{ zabbix_repo_os_arch }}/pool/main/z/zabbix-release/zabbix-release_{{ ZABBIX_VERSION }}-2+{{ zabbix_repo_os }}{{ zabbix_repo_os_version }}_all.deb"
    dest: /tmp/zabbix-release.deb
    mode: "644"
  when: zabbix_release_installed.rc != 0

- name: Install Zabbix release package
  ansible.builtin.apt:
    deb: /tmp/zabbix-release.deb
    state: present
  register: zabbix_release_deb
  when: zabbix_release_installed.rc != 0

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  when: zabbix_release_deb.changed | default(false)

- name: Install Zabbix Agent 2
  ansible.builtin.apt:
    name: zabbix-agent2
    state: latest
  register: zabbix_agent2_installed

- name: Configure Zabbix Agent 2
  ansible.builtin.template:
    src: zabbix_agent2.conf.j2
    dest: /etc/zabbix/zabbix_agent2.conf
    owner: zabbix
    group: zabbix
    mode: "660"
  register: zabbix_agent2_configured

- name: Restart and enable Zabbix Agent 2 service
  ansible.builtin.systemd:
    name: zabbix-agent2
    state: restarted
    enabled: true
  when: zabbix_agent2_installed.changed or zabbix_agent2_configured.changed

- name: Add Zabbix user to Docker group
  ansible.builtin.user:
    name: zabbix
    groups: docker
  ignore_errors: true

- name: Add Zabbix user to sudoers to run smartctl
  ansible.builtin.copy:
    content: "zabbix ALL=(ALL) NOPASSWD: /usr/sbin/smartctl"
    dest: /etc/sudoers.d/zabbix
    mode: "440"
