services:
  frigate:
    container_name: frigate
    privileged: true # this may not be necessary for all setups
    restart: unless-stopped
    stop_grace_period: 30s # allow enough time to shut down the various services
    image: ghcr.io/blakeblackshear/frigate:0.16.4
    shm_size: "512mb"
    devices:
      - /dev/bus/usb:/dev/bus/usb # Passes the Coral AI USB module
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ DOCKER_VOLUMES_ROOT }}/frigate/config:/config
      - {{ FRIGATE_RECORDINGS }}:/media/frigate
      - type: tmpfs # Optional: 1GB of memory, reduces SSD/SD Card wear
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    environment:
      FRIGATE_C1_PASS: {{ FRIGATE_C1_PASSWORD }}
      FRIGATE_C2_PASS: {{ FRIGATE_C2_PASSWORD }}
      FRIGATE_C3_PASS: {{ FRIGATE_C3_PASSWORD }}
      FRIGATE_C4_PASS: {{ FRIGATE_C4_PASSWORD }}
    labels:
      - traefik.enable=true
      - traefik.http.routers.cctv.rule=Host(`{{ CCTV_FQDN }}`)
      - traefik.http.routers.cctv.entrypoints=websecure
      - traefik.http.routers.cctv.tls.certresolver=cloudflare
      - traefik.http.services.cctv.loadbalancer.server.port=8971
    networks:
      - proxy

networks:
  proxy:
    external: true
