- hosts: truenas
  become: yes
  roles:
    - roles/get-nas-files-list
    - roles/get-ups-status
    - roles/nas-config-backup
    - roles/nas-docker-maintenance
    - roles/docker-traefik
    - roles/docker-filebrowser
    - roles/docker-frigate
    - roles/docker-seq
    - roles/docker-immich
    - roles/docker-unifi
    - roles/docker-arr
    - roles/docker-nas-syncthing
    - roles/docker-nas-zabbix-agent
    - roles/docker-zabbix-pgsql-timescaledb
    - roles/docker-kopia-server
  vars:
    DOCKER_VOLUMES_ROOT: /mnt/ssd/docker
    DOWNLOADS_FOLDER_PATH: /mnt/hdd/downloads
    TV_FOLDER_PATH: /mnt/hdd/media/tv
    MOVIES_FOLDER_PATH: /mnt/hdd/media/films
    CLOUDFLARE_EMAIL: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      37333066653833326235353639303466346635653538663830383464623161656639336639663365
      3530343932666532333037663965376639363130343631380a353435343935376464646434343163
      63333565393962666132313134336263386134646439306130396634373637313437303766343765
      6461653734633234610a653765386666316639303664373866323732636433363837323936313163
      62663265663538376430366434623165306361353136613062653465356239646265
    CLOUDFLARE_DNS_API_TOKEN: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      34383730633432303539366538666130373238306233636138626338343761363732633263616463
      3530396666653730393338613364663532363263396436330a623732356664343964623737363163
      36316432616165383263333661613236356465336136663031323261333361353535353033643862
      3631373166326335340a633033393338663533653166653364663134376462333532663032366566
      63343363306632633063653464343636643433663661333837316564336439343937336639326637
      3462356430653331636639383164653338333834353139343833
    FRIGATE_C1_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      61316664646435373033313063663761356533333439356632636136626164653262653634313233
      3638326664613534333761373864383336666538316631350a303334353266633666373939346331
      39303832323334623338383632626161333465653864386136333831366363613661343063376338
      3632316165613536330a663365396261303637396331666535323761623330613630633836663361
      66643262616634656466346362383864313664303835346364656139636465653265
    FRIGATE_C2_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      66616464303031373061633233363463613237396261633563306136333531393931316637363961
      3138663339323166643032656263383130376439383835630a383136396439363966306537653830
      37303563623037666538666636636433643938373431346138633830663937653732623061613131
      6533373865333763650a346638343264323061336138353939363235316562306535386530646365
      39346439653338323231353132333566396638336361636164663738646164346331
    FRIGATE_C3_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      62326432313365633864366661333861663633396638633961306665346334313931616431643264
      3533363231636431623435303561623333383634653365650a373130356233663937316362306337
      33393138313934653462396164333731386261313366373834366334376463343361376638303536
      3434393332373963360a313232623130353030666537313336323635626435373839613135636263
      61623730633439333436663935396335316635663935303532303234653239316462
    FRIGATE_C4_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      37373166396665353237383430373563323532663634306461343965353266393933383939366130
      3665666233383866656365633635333466363861616638320a613433333630343739393430313765
      63633363386337353339386531613839656466323866313338386437346233643563623233666261
      6438666531316433640a393838656563326438323638363961363830303664653261323137353033
      63613135666635346464643635306434373631366534333236636435363338613736
    CCTV_FQDN: cctv.greenappleton.com
    FILEBROWSER_DNS_NAME: filebrowser.greenappleton.com
    FILEBROWSER_SHARE_ROOT: /mnt
    SEQ_DOMAIN: seq.greenappleton.com
    SEQ_ADMIN_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      63653630663464333036346232383764666363616566353137666635386136643065663165666438
      6362343236353638326539393965353830396138343331350a333531356636613439363234396665
      30383639353832653562333363383637306161333734306430626564613235303630313064333566
      3762653434383830630a663461653237626163646266653038333736643763383366646562323535
      36366562326433313836303635383965343830633337336433366132666466313937
    SEQ_SYSLOG_API_KEY: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      61633937656236313031666337383834663135613437613163623461326566393034653139626334
      6431326465383638646330333161386365623264653033620a666265373461363037316264323764
      64663039623737343565306661343638353764646164313337363233653331663031616436646332
      6133336530666531630a613439353135393033343437356135376635626133303937353335616135
      37363365373430646235633164383264643661383165646135613665356137386134
    SEQ_GELF_API_KEY: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      35376330323637376461303730653266626366626432663435376530623537333363313135316530
      3330343965623864613366363334626661383030633737300a666639626464336333343265313865
      62303837393531626162633664316464363434396137333433306230663066663862613031643537
      3436333832303833300a396536326130353930353337303333336666326634393364653337636232
      39323932323638393233313966303636373931333964326662396163316336383136
    IMMICH_DB_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      65343363353635303464386138383938646336343238313430333734613938313361343733656665
      6638396136336666636337333436663163653266353837350a383235616462666239313766653035
      65333535376264666562383830636133616532646237306565613235626130313830386663376334
      3137333365336135620a363932643461383365653065376430663438353962666262383662346166
      33376430373766616531343462626134303734653263356339636332306132383238
    TRANSMISSION_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      35373462326462373338653632613535663233393236616461633239663866323364653434383535
      3265353166346162313938646262643837663266663430360a633530353532363534666332343862
      62653637613865316338346532626264346266323862376432663437333033323532343465323432
      3666643732336233390a666361616266663362356632656439303930343532356138613133363638
      62613865623734376537646166383232326336303965613730396233636436336232
    GLUETUN_WIREGUARD_PRIVATE_KEY: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      37326537366531353335633163616333613530623932653763663265323634323863343336353330
      3839396166316562363537613365376439303238356665350a386166363838313566313732306632
      30333631656166316435366665313166616164353464623065643066616631636434623133613633
      6263356461653138620a333766306139346565383835663263336666343538343337336162383334
      32333762383166353462396238646339656432623331346230636536653539316438323434396238
      6630626236363932373239626236353130366131613432323034
    GLUETUN_WIREGUARD_ADDRESSES: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      31623936643430663539633036316331383765343462383562336663336261363532306138396331
      6461656661666233373735613861663330633562363866340a636633336162303361356363343439
      33346434386338386266313865306335663736653430383734623431623265373932326639633332
      3436616264383561650a653865663338636539306266343963653936323334623063333764336364
      3663
    KOPIA_B2_BUCKET_NAME: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      65336164316538613434363730343338613434636336333637343264623662646237323761313766
      3330356361613061343530353433646235326364393831350a333831333332323866626164623965
      37646139396538343533343231383262336364366465323762336536343035313933333866633338
      3336646439376434360a663162303162323666303135363937643966326132633637353762633861
      66653961303533643332653665373935303739356435383834383666316333363632
    KOPIA_B2_KEY_ID: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      62643139333365356665343932396563363831303433326233323765303031366438306465633539
      3538643963396530333936386335313561346164336266360a343431363362333766393764636362
      65613138663564353165656534346461303637373138633634303736623735646530366133373737
      6630373239666562360a663130306238376633326231633863396335343934346465316337373230
      34356565316231616463383030306430613836386431313939323662633739626466
    KOPIA_B2_KEY_SECRET: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      30323933633162393665633162663633663661363335316466333930616466386364653035666166
      3839633064316564333932326261363930326331323234630a356335336462376339353835623030
      65643638343036653734633834383633366465613064616531323361323664316637343065306430
      3837366333663933390a393665323566666334396136666634376539636432613134363931313965
      32343838356334623838373238393935326636373535363531383464326161343931
    KOPIA_B2_REPO_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      65383632643638653661333530383966366134326534633763353533663035363663646536313333
      6466643464646137633433653464353937306266333161360a396563303466373839383535326332
      35613133303562396163306561383838366662346131336561303635313036303838376631386463
      3030643864323631340a643031656432663164306130633230313238643534326264663262323031
      61633464373664336338663836366239333365303639366435373231393431633465343936363832
      61386132366535646264393238363166643166636561633262653838633037333561333065386664
      353537663334613934666233313338613365
    KOPIA_B2_WEB_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      39656565316634643035363538393666306561336535303362396333363236343762643137363532
      3132333434303238313564363263623337626533346433300a616166333966616364643166663335
      62396534393462666363643063366364323830313638326232383566366436363936613931613236
      6462666437663730660a336662633264323061623461376365303365383338393964343861356530
      63613062656465373963306265653464393032656533636336383036633464323036
    KOPIA_LOCAL_REPO_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      35386636663562383437366566616133383266646636363131663035386563623962356231353739
      3030663363653161366662303333383833613765383631360a393832336233316335613566346535
      61343331323930356563343164643666343838383261643661616631346533343534363636323434
      6234396136346633610a303332363265626237386533653435653366626338663530393134353065
      65373262393962393831396163376231336234356130353530376562646434643261
    KOPIA_LOCAL_WEB_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      35616333343531366164353238303464623034343039613166643665333263353262616638636166
      6261643636633166643437643263626564326135333331340a363937643234626334303036386335
      38303534303638333330613366303631316437386266306665373761646234613936303036316264
      3430323464313833650a313966633438333431646537383735326331666535306632643231663930
      32633439366263396239386264633066653039336439623632333436613938373038
    TRUENAS_BACKUP_API_KEY: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      34633130393661616335396565613234326339626535316532373362623363656562323961343165
      6635383463636134313939623663663062303665333733300a636235666538353266316236386463
      65643261346463363166343264616333353535303637336464343762666437626431626264333139
      6537393361336632380a666165393531356563343462323039613735613831366364633162623538
      66653335663836353730303639613932313732626233336430316431326364303236396430356562
      66383265663162656364303332376538323961323061306637616463386438613233323936333537
      30623534323434336565623830633339313864323762633065643832303664326537646662613065
      38363234333137316535
    TRUENAS_BACKUP_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      37613264646536623462636461663032336663613834383535633564346433306463393634663665
      6362393763623634316438356463393931646231326133390a306666353961666463386164643038
      62313562623831313330393139393533653662376331646162393064663732383133366331613136
      6137326530383034660a363464383964373837313331376661626235363737363065613564366236
      34316562356331353330306363636234306637393631373365326261663866653439
