#!/bin/bash

TEST_FILE="/dev/sda"
WEBHOOK_URL="{{ WEBHOOK_URL }}"

# Get the system hostname
HOSTNAME=$(hostname)

# Start loop
while true; do 

    # Check if the test file exists and is readable
    if [ ! -r $TEST_FILE ]; then
        # Send a Discord alert with the system hostname if the test file cannot be reached
        curl -s -X POST $WEBHOOK_URL \
            --data-urlencode "content=Error from \`$HOSTNAME\` - Watchdog directory \`$TEST_FILE\` cannot be accessed. This implies a storage disconnection. Forcing a reboot." > /dev/null
        
        # Sleep for 5s
        sleep 5

        # Force a reboot
        reboot -f
    fi

    # Sleep for 60s before next check
    sleep 60
done
