[Unit]
Description=Disk Watchdog Service

[Service]
Type=simple
ExecStart=/opt/disk-watchdog/disk-watchdog.sh
Restart=always

[Install]
WantedBy=multi-user.target

# Stop action is to stop the script
ExecStop=/bin/kill -SIGTERM $MAINPID
