- name: Create Frigate directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "770"
  loop:
    - "{{ FRIGATE_RECORDINGS }}"
    - "{{ DOCKER_VOLUMES_ROOT }}/frigate/config"

- name: Copy over docker-compose.yml
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ DOCKER_VOLUMES_ROOT }}/frigate/docker-compose.yml"
    mode: "770"

- name: Copy Frigate config
  ansible.builtin.copy:
    src: config.yml
    dest: "{{ DOCKER_VOLUMES_ROOT }}/frigate/config/config.yml"
    mode: "770"
  register: CONFIG_COPIED

- name: Restart compose stack
  community.docker.docker_compose_v2:
    project_src: "{{ DOCKER_VOLUMES_ROOT }}/frigate"
    project_name: frigate
    state: restarted
  when: CONFIG_COPIED.changed

- name: Start compose stack
  community.docker.docker_compose_v2:
    project_src: "{{ DOCKER_VOLUMES_ROOT }}/frigate"
    project_name: frigate
    state: present

- name: Cleanup compose file
  ansible.builtin.file:
    path: "{{ DOCKER_VOLUMES_ROOT }}/frigate/docker-compose.yml"
    state: absent
