#!/bin/bash

# Vars
DATA_DIR="{{ ZABBIX_PGSQL_DB_PATH }}/data"
BACKUP_DIR="{{ ZABBIX_PGSQL_DB_PATH }}/backups"
BACKUP_FILE="zabbix-pgsql-backup-$(date "+%Y-%m-%d--%H-%M")"

echo "Stopping Zabbix DB container"
docker stop zabbix-db

echo "Creating backup"
cd $DATA_DIR
tar -cvf $BACKUP_DIR/$BACKUP_FILE.tar .

# Check for errors
if [ $? -ne 0 ]; then
    echo "ERROR: Backup creation failed."
    echo "1" > last-backup-exit-code
    docker start zabbix-db
    exit 1
fi

echo "Starting Zabbix DB container"
docker start zabbix-db

echo "Compressing backup"
cd $BACKUP_DIR
gzip --best $BACKUP_FILE.tar

# Check for errors
if [ $? -ne 0 ]; then
    echo "ERROR: Backup compression failed."
    echo "1" > last-backup-exit-code
    exit 1
fi

echo "Deleting backups older than 3 days"
find $BACKUP_DIR -type f -mtime +3 -name "*.gz" -delete
find $BACKUP_DIR -type f -mtime +3 -name "*.bak" -delete

echo "Writing successful backup status code"
echo "0" > last-backup-exit-code
echo "0" > /mnt/ssd/zabbix-backup-exit-codes/last-backup-exit-code.log
exit 0

echo "Correcting permissions"
chmod -R 755 /mnt/ssd/zabbix-backup-exit-codes

# To restore DB from backup, stop the container
# Then replace the data folder with the backup folder
# Then start the container