services:
  pgsql-timescaledb:
    container_name: zabbix-db
    image: timescale/timescaledb:2.19.3-pg16
    restart: always
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: "8GB"
    volumes:
      - {{ ZABBIX_PGSQL_DB_PATH }}/data:/var/lib/postgresql/data
      - {{ ZABBIX_PGSQL_DB_PATH }}/backups:/backups
    environment:
      - POSTGRES_PASSWORD={{ ZABBIX_PGSQL_PASSWORD }}
    ports:
      - 5432:5432
