# https://github.com/gtsteffaniak/filebrowser/wiki/Getting-Started

services:
  filebrowser:
    container_name: filebrowser
    image: gtstef/filebrowser:1.2.4-beta
    restart: always
    user: "{{ FILEBROWSER_UID }}"
    environment:
      FILEBROWSER_CONFIG: "data/config.yaml"
    volumes:
      - {{ DOCKER_VOLUMES_ROOT }}/filebrowser/config:/home/filebrowser/data
      - {{ FILEBROWSER_SHARE_ROOT }}:/srv
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.filebrowser.rule=Host(`{{ FILEBROWSER_DNS_NAME }}`)
      - traefik.http.routers.filebrowser.entrypoints=websecure
      - traefik.http.routers.filebrowser.tls.certresolver={{ TRAEFIK_CERT_RESOLVER_NAME }}
      - traefik.http.middlewares.filebrowser-buffer.buffering.maxRequestBodyBytes=17179869184 # 16GB max upload size
      - traefik.http.middlewares.filebrowser-buffer.buffering.memRequestBodyBytes=104857600
      - traefik.http.middlewares.filebrowser-buffer.buffering.maxResponseBodyBytes=17179869184

networks:
  proxy:
    external: true
