- hosts: truenas
  become: yes
  roles:
    - roles/docker-kopia-server
  vars:
    KOPIA_B2_BUCKET_NAME: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      65336164316538613434363730343338613434636336333637343264623662646237323761313766
      3330356361613061343530353433646235326364393831350a333831333332323866626164623965
      37646139396538343533343231383262336364366465323762336536343035313933333866633338
      3336646439376434360a663162303162323666303135363937643966326132633637353762633861
      66653961303533643332653665373935303739356435383834383666316333363632
    KOPIA_B2_KEY_ID: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      62643139333365356665343932396563363831303433326233323765303031366438306465633539
      3538643963396530333936386335313561346164336266360a343431363362333766393764636362
      65613138663564353165656534346461303637373138633634303736623735646530366133373737
      6630373239666562360a663130306238376633326231633863396335343934346465316337373230
      34356565316231616463383030306430613836386431313939323662633739626466
    KOPIA_B2_KEY_SECRET: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      30323933633162393665633162663633663661363335316466333930616466386364653035666166
      3839633064316564333932326261363930326331323234630a356335336462376339353835623030
      65643638343036653734633834383633366465613064616531323361323664316637343065306430
      3837366333663933390a393665323566666334396136666634376539636432613134363931313965
      32343838356334623838373238393935326636373535363531383464326161343931
    KOPIA_B2_REPO_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      65383632643638653661333530383966366134326534633763353533663035363663646536313333
      6466643464646137633433653464353937306266333161360a396563303466373839383535326332
      35613133303562396163306561383838366662346131336561303635313036303838376631386463
      3030643864323631340a643031656432663164306130633230313238643534326264663262323031
      61633464373664336338663836366239333365303639366435373231393431633465343936363832
      61386132366535646264393238363166643166636561633262653838633037333561333065386664
      353537663334613934666233313338613365
    KOPIA_B2_WEB_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      39656565316634643035363538393666306561336535303362396333363236343762643137363532
      3132333434303238313564363263623337626533346433300a616166333966616364643166663335
      62396534393462666363643063366364323830313638326232383566366436363936613931613236
      6462666437663730660a336662633264323061623461376365303365383338393964343861356530
      63613062656465373963306265653464393032656533636336383036633464323036
    KOPIA_LOCAL_REPO_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      35386636663562383437366566616133383266646636363131663035386563623962356231353739
      3030663363653161366662303333383833613765383631360a393832336233316335613566346535
      61343331323930356563343164643666343838383261643661616631346533343534363636323434
      6234396136346633610a303332363265626237386533653435653366626338663530393134353065
      65373262393962393831396163376231336234356130353530376562646434643261
    KOPIA_LOCAL_WEB_PASSWORD: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      35616333343531366164353238303464623034343039613166643665333263353262616638636166
      6261643636633166643437643263626564326135333331340a363937643234626334303036386335
      38303534303638333330613366303631316437386266306665373761646234613936303036316264
      3430323464313833650a313966633438333431646537383735326331666535306632643231663930
      32633439366263396239386264633066653039336439623632333436613938373038
