services:
  syncthing:
    image: lscr.io/linuxserver/syncthing:2.0.14
    container_name: syncthing
    hostname: parents-server #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - /opt/dockervolumes/syncthing/config:/config
      - /mnt/data/syncthing:/data
    ports:
      - 8384:8384
      - 22000:22000/tcp
      - 22000:22000/udp
      - 21027:21027/udp
    restart: unless-stopped
