version: 0.16-0

# https://docs.frigate.video/configuration/

# Disable TLS as we're using a reverse proxy
tls:
  enabled: false

# Turn off MQTT because I'm not using Home Assistant
mqtt:
  enabled: false

# Keep 24/7 recorded video for 30 days
record:
  enabled: true
  retain:
    days: 30
    mode: all

# Set the live view to all cameras all the time
birdseye:
  mode: continuous

detect:
  enabled: true

objects:
  track:
    - person
    - car
    - dog
    - cat
    - robot_lawnmower
    - waste_bin

# Unused - using Coral instead
##### Start of OpenVino config for CPU detection #####

#detectors:
#  ov:
#    type: openvino
#    model_path: /openvino-model/ssdlite_mobilenet_v2.xml
#model:
#  width: 300
#  height: 300
#  input_tensor: nhwc
#  input_pixel_format: bgr
#  labelmap_path: /openvino-model/coco_91cl_bkgr.txt

##### End of OpenVino config for CPU detection #####

# Coral AI USB accelerator for object detection
detectors:
  coral:
    type: edgetpu
    device: usb

ffmpeg:
  input_args: preset-http-reolink
  output_args:
    record: preset-record-generic-audio-copy

cameras:
  c1-side:
    ffmpeg:
      inputs:
        - path:
            http://10.10.8.11/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password={FRIGATE_C1_PASS}
          roles:
            - detect
            - record
    objects:
      filters:
        car:
          mask: 0.265,0.446,0.551,0.598,0.419,0.996,0.004,0.987,0.033,0.818

  c2-garden:
    ffmpeg:
      inputs:
        - path:
            http://10.10.8.12/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password={FRIGATE_C2_PASS}
          roles:
            - detect
            - record

  c3-garage:
    ffmpeg:
      inputs:
        - path:
            http://10.10.8.13/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password={FRIGATE_C3_PASS}
          roles:
            - detect
            - record
    objects:
      filters:
        car:
          mask: 0.427,0.456,0.819,0.431,1,0.665,1,1,0.463,1

  c4-front:
    ffmpeg:
      inputs:
        - path:
            http://10.10.8.14/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=admin&password={FRIGATE_C4_PASS}
          roles:
            - detect
            - record
    objects:
      filters:
        car:
          mask: 0,0.654,0.175,0.513,0.596,0.989,0.148,0.994

camera_groups:
  Cameras:
    order: 1
    icon: LuAirplay
    cameras:
      - c1-side
      - c2-garden
      - c3-garage
      - c4-front

semantic_search:
  enabled: false
  model_size: small

face_recognition:
  enabled: false
  model_size: small

lpr:
  enabled: true
  device: GPU
  model_size: large

classification:
  bird:
    enabled: false
