[Interface]
PostUp = iptables -I FORWARD 1 -i wg0 -j ACCEPT; iptables -I FORWARD 1 -o wg0 -j ACCEPT; iptables -t nat -I POSTROUTING 1 -s 10.200.200.0/24 -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -s 10.200.200.0/24 -o eth0 -j MASQUERADE
Address = 10.200.200.1/24
ListenPort = 51820
PrivateKey = {{ WG_PRIV_KEY }}
# PublicKey = HX50lMQvrx8RrFYc5/yQ0UOJ/K8xSsM4tEgJnURxf10=

[Peer]
# Client 1
PublicKey = 6J+3NlhVJafmLQZLAgfZy2g2gpCXjY9eE4hK8ElqSSo=
AllowedIPs = 10.200.200.2/32
PresharedKey = {{ WG_PRE_SHARED_KEY }}
PersistentKeepalive = 25
