- name: Create arr folders stack directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "770"
    owner: "1000"
    group: "1000"
  loop:
    - "{{ DOCKER_VOLUMES_ROOT }}/jellyfin"
    - "{{ DOCKER_VOLUMES_ROOT }}/sonarr"
    - "{{ DOCKER_VOLUMES_ROOT }}/radarr"
    - "{{ DOCKER_VOLUMES_ROOT }}/prowlarr"
    - "{{ DOCKER_VOLUMES_ROOT }}/transmission"
    - "{{ DOCKER_VOLUMES_ROOT }}/sabnzbd"
    - "{{ DOCKER_VOLUMES_ROOT }}/bazarr"
    - "{{ DOCKER_VOLUMES_ROOT }}/dispatcharr"

- name: Copy over docker-compose.yml
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ DOCKER_VOLUMES_ROOT }}/jellyfin/docker-compose.yml"
    mode: "770"

- name: Start compose stack
  community.docker.docker_compose_v2:
    project_src: "{{ DOCKER_VOLUMES_ROOT }}/jellyfin"
    project_name: arr

- name: Cleanup compose file
  ansible.builtin.file:
    path: "{{ DOCKER_VOLUMES_ROOT }}/jellyfin/docker-compose.yml"
    state: absent
