- name: Create Filebrowser directory
  ansible.builtin.file:
    path: "{{ DOCKER_VOLUMES_ROOT }}/filebrowser/config"
    state: directory
    mode: "770"
    owner: "{{ FILEBROWSER_UID }}"

- name: Copy over Filebrowser config
  ansible.builtin.template:
    src: config.yaml.j2
    dest: "{{ DOCKER_VOLUMES_ROOT }}/filebrowser/config/config.yaml"
    mode: "770"
    owner: "{{ FILEBROWSER_UID }}"

- name: Copy over docker-compose.yml
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ DOCKER_VOLUMES_ROOT }}/filebrowser/docker-compose.yml"
    mode: "770"

- name: Start compose stack
  community.docker.docker_compose_v2:
    project_src: "{{ DOCKER_VOLUMES_ROOT }}/filebrowser"
    project_name: filebrowser

- name: Cleanup compose file
  ansible.builtin.file:
    path: "{{ DOCKER_VOLUMES_ROOT }}/filebrowser/docker-compose.yml"
    state: absent
