- name: Copy over docker-compose.yml
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: /mnt/hdd/kopia-local/docker-compose.yml
    mode: "770"

- name: Start compose stack
  community.docker.docker_compose_v2:
    project_src: /mnt/hdd/kopia-local
    project_name: kopia

- name: Cleanup compose file
  ansible.builtin.file:
    path: /mnt/hdd/kopia-local/docker-compose.yml
    state: absent

- name: Ensure local repo is connected
  community.docker.docker_container_exec:
    container: kopia-local
    command: kopia repo connect filesystem --path /repo --password {{ KOPIA_LOCAL_REPO_PASSWORD }}

- name: Set local repo policy
  community.docker.docker_container_exec:
    container: kopia-local
    command: kopia policy set --global --compression=zstd --keep-hourly=48 --keep-daily=30 --keep-weekly=52 --keep-monthly=24 --keep-annual=3 --keep-latest=0

# Enable this step once for the initial snapshot
- name: Set local repo folders to snapshot
  community.docker.docker_container_exec:
    container: kopia-local
    command: kopia snapshot create {{ item }}
  loop:
    - /mnt/ssd/docker/bazarr
    - /mnt/ssd/docker/frigate
    - /mnt/ssd/docker/forgejo
    - /mnt/ssd/docker/grafana
    - /mnt/ssd/docker/home-assistant
    - /mnt/ssd/docker/immich/import
    - /mnt/ssd/docker/jellyfin
    - /mnt/ssd/docker/prowlarr
    - /mnt/ssd/docker/radarr
    - /mnt/ssd/docker/sabnzbd
    - /mnt/ssd/docker/sonarr
    - /mnt/ssd/docker/syncthing
    - /mnt/ssd/docker/transmission
    - /mnt/ssd/docker/unifi/config
    - /mnt/ssd/docker/zabbix/db/backups
    - /mnt/ssd/docs
    - /mnt/ssd/keepass
    - /mnt/ssd/media-files-list
    - /mnt/ssd/music
    - /mnt/ssd/opnsense-backups
    - /mnt/ssd/truenas-config-backups

- name: Check B2 repo status
  community.docker.docker_container_exec:
    container: kopia-b2
    command: kopia repo status
  register: kopia_repo_status_result
  ignore_errors: true # We expect an error if no repo is connected

- name: Ensure B2 repo is connected
  community.docker.docker_container_exec:
    container: kopia-b2
    command: kopia repo connect b2 --bucket {{ KOPIA_B2_BUCKET_NAME }} --key-id {{ KOPIA_B2_KEY_ID }} --key {{ KOPIA_B2_KEY_SECRET }} --password {{ KOPIA_B2_REPO_PASSWORD }}
  when: kopia_repo_status_result.rc != 0 or "no repository is connected" in kopia_repo_status_result.stderr | default('')

- name: Set B2 repo policy
  community.docker.docker_container_exec:
    container: kopia-b2
    command: kopia policy set --global --compression=zstd --keep-hourly=48 --keep-daily=30 --keep-weekly=52 --keep-monthly=24 --keep-annual=3 --keep-latest=0
  when: kopia_repo_status_result.rc != 0 or "no repository is connected" in kopia_repo_status_result.stderr | default('')

# Enable this step once for the initial snapshot
- name: Set B2 folders to snapshot
  community.docker.docker_container_exec:
    container: kopia-b2
    command: kopia snapshot create {{ item }}
  loop:
    - /mnt/ssd/docker/bazarr
    - /mnt/ssd/docker/frigate
    - /mnt/ssd/docker/forgejo
    - /mnt/ssd/docker/grafana
    - /mnt/ssd/docker/home-assistant
    - /mnt/ssd/docker/immich/import
    - /mnt/ssd/docker/jellyfin
    - /mnt/ssd/docker/prowlarr
    - /mnt/ssd/docker/radarr
    - /mnt/ssd/docker/sabnzbd
    - /mnt/ssd/docker/sonarr
    - /mnt/ssd/docker/syncthing
    - /mnt/ssd/docker/transmission
    - /mnt/ssd/docker/unifi/config
    - /mnt/ssd/docker/zabbix/db/backups
    - /mnt/ssd/docs
    - /mnt/ssd/keepass
    - /mnt/ssd/media-files-list
    - /mnt/ssd/music
    - /mnt/ssd/opnsense-backups
    - /mnt/ssd/truenas-config-backups
